/*!
    Title: GIS Portfolio
    Version: 1.5
    Last Change: 07/010/2026
    Author: Colin T. Stiles
    Repo: https://github.com/colinstiles/cts-gis-portfolio

    Description: This file contains all the styles associated with the page
    that don't come from third party libraries. This file gets compiled using
    Gulp and send to the /css folder which is then loaded on the page.
*/

:root {
    /* Colors */
    --primary-color: #556B2F; /* Dark Olive Green */
    --primary-color-rgb: 85, 107, 47;
    --secondary-color: #8B4513; /* Saddle Brown */
    --text-color-dark: #4B3A26; /* Dark Brown */
    --text-color-light: #F5F5DC; /* Beige */
    --text-color-light-rgb: 245, 245, 220;
    --background-light: #FCFBF4; /* Very Light Cream */
    --background-dark: #EAE7DC; /* Light Tan */
    --background-dark-rgb: 234, 231, 220;
    --border-color: #D2B48C; /* Tan */

    /* Fonts */
    --font-family-base: 'Lato', sans-serif;
    --font-size-base: 17px;
    --font-size-small: 0.9em;
    --font-size-xsmall: 0.8em;
    --font-weight-light: 300;
    --font-weight-normal: 500;
    --font-weight-bold: 900;
}

body {
    font-family: var(--font-family-base);
    font-size: var(--font-size-base);
}

body.active {
    overflow: hidden;
    z-index: -1;
}

.no-js #experience-timeline>div {
    background: var(--background-light);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--border-color);
}

.no-js #experience-timeline>div h3 {
    font-size: 1.5em; /* Consider a variable like var(--font-size-h3) */
    font-weight: var(--font-weight-light);
    color: var(--primary-color);
    display: inline-block;
    margin: 0;
}

.no-js #experience-timeline>div h4 {
    font-size: 1.2em; /* Consider a variable like var(--font-size-h4) */
    font-weight: var(--font-weight-light);
    color: var(--primary-color);
    margin: 0 0 15px 0;
}

.no-js #experience-timeline>div p {
    color: var(--text-color-dark);
    font-size: var(--font-size-small);
    margin: 0;
}

.no-js #experience-timeline:before,
.no-js #experience-timeline:after {
    content: none;
}

/*
========================================
Header
========================================
*/

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 0.75s;
    background: transparent; /* This is acceptable, but could be a variable if needed */
}

header ul {
    display: inline-block;
    background: rgba(var(--text-color-light-rgb), 0.75);
    text-align: center;
    padding: 10px;
    margin: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-radius: 4px;
}

header .social-link a {
    padding: 10px 12px;
    font-size: 1.2em;
}

header li {
    display: inline-block;
}

header a {
    display: block;
    color: var(--primary-color);
    padding: 10px;
}

header a:hover {
    color: var(--text-color-light);
    text-decoration: none;
    background: var(--primary-color);
    border-radius: 4px;
}

header a:focus {
    color: var(--primary-color);
    text-decoration: none;
}

header.active {
    display: block;
}

header.sticky {
    position: fixed;
    z-index: 999;
}

#menu.active {
    display: block;
}

#mobile-menu-open {
    display: none;
    cursor: pointer;
    position: fixed;
    right: 15px;
    top: 10px;
    color: var(--primary-color);
    font-size: 1.5em;
    z-index: 20;
    padding: 0 7px;
    border-radius: 4px;
    background: var(--background-light);
}

#mobile-menu-close {
    display: none;
    text-align: right;
    width: 100%;
    background: var(--background-light);
    font-size: 1.5em;
    padding-right: 15px;
    padding-top: 10px;
    cursor: pointer;
    color: var(--primary-color);
}

#mobile-menu-close span {
    font-size: 0.5em;
    text-transform: uppercase;
}

#mobile-menu-close i {
    vertical-align: middle;
}

#lead {
    position: relative;
    height: 100vh;
    min-height: 500px;
    max-height: 1080px;
    background: url(../images/lead-bg.jpg);
    background-size: cover;
    padding: 15px;
    border-bottom: 1px solid var(--secondary-color);
    overflow: hidden;
}

#lead-content {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#lead-content h1,
#lead-content h2 {
    margin: 0;
}

#lead-content h1 {
    color: var(--primary-color);
    font-weight: var(--font-weight-bold);
    font-size: 5em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    line-height: 0.9em;
    text-shadow:
    -2px -2px 0 var(--text-color-light),
    2px -2px 0 var(--text-color-light),
    -2px 2px 0 var(--text-color-light),
    2px 2px 0 var(--text-color-light);
}

#lead-content h2 {
    color: var(--primary-color);
    font-weight: var(--font-weight-normal);
    font-size: 2.25em;
    margin-bottom: 15px;
    text-shadow:
    -1px -1px 0 var(--text-color-light),
    1px -1px 0 var(--text-color-light),
    -1px 1px 0 var(--text-color-light),
    1px 1px 0 var(--text-color-light);
}

#lead-content .btn-resume {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    font-weight: var(--font-weight-normal);
    text-transform: uppercase;
    color: var(--primary-color);
    background-color: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 4px;
    transition: all 0.3s ease;
}

#lead-content .btn-resume:hover {
    background: var(--primary-color);
    color: var(--text-color-light);
    text-decoration: none;
}

#lead-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent; /* This is acceptable, but could be a variable if needed */
    z-index: 1;
}

#lead-down {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
    bottom: 15px;
    color: var(--primary-color);
}

#lead-down span {
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid var(--primary-color);
    text-align: center;
}

#lead-down i {
    animation: pulsate 1.5s ease;
    animation-iteration-count: infinite;
    padding-top: 5px;
}

@keyframes dropHeader {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

/*
========================================
About
========================================
*/

#about {
    padding: 50px 15px;
    border-bottom: 1px solid var(--secondary-color);
    background: var(--background-light);
}

@keyframes pulsate {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.2, 1.2);
    }

    100% {
        transform: scale(1, 1);
    }
}

#about h2 {
    color: var(--primary-color);
}

#about p {
    color: var(--text-color-dark);
    margin: 0;
}

/*
========================================
Experience
========================================
*/

#experience {
    padding: 50px 15px;
    text-align: center;
    background: var(--background-dark);
    border-bottom: 1px solid var(--secondary-color);
    background: var(--background-light);
    border-bottom: 1px solid var(--secondary-color);
}

#experience h2 {
    color: var(--primary-color);
}

#experience-timeline {
    margin: 30px auto 0 auto;
    position: relative;
    max-width: 1000px;
}

#experience-timeline:before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 303px;
    right: auto;
    height: 100%;
    width: 3px;
    background: var(--primary-color);
    z-index: 0;
}

#experience-timeline:after {
    position: absolute;
    content: '';
    width: 3px;
    height: 40px;
    background: var(--primary-color);
    background: linear-gradient(to bottom, var(--primary-color), rgba(var(--primary-color-rgb), 0));
    top: 100%;
    left: 303px;
}

.vtimeline-content {
    margin-left: 350px;
    background: var(--background-dark);
    border: 1px solid var(--secondary-color);
    padding: 15px;
    border-radius: 3px;
    text-align: left;
}

.vtimeline-content h3 {
    font-size: 1.5em; /* Consider a variable like var(--font-size-h3) */
    font-weight: var(--font-weight-light);
    color: var(--primary-color);
    display: inline-block;
    margin: 0;
}

.vtimeline-content h4 {
    font-size: 1.2em; /* Consider a variable like var(--font-size-h4) */
    font-weight: var(--font-weight-light);
    color: var(--text-color-dark);
    margin: 0 0 15px 0;
}

.vtimeline-content p {
    color: var(--text-color-dark);
    font-size: var(--font-size-small);
    margin: 0;
}

.vtimeline-point {
    position: relative;
    display: block;
    vertical-align: top;
    margin-bottom: 30px;
}

.vtimeline-icon {
    position: relative;
    color: var(--text-color-light);
    width: 50px;
    height: 50px;
    background: var(--primary-color);
    border-radius: 50%;
    float: left;
    z-index: 99;
    margin-left: 280px;
}

.vtimeline-icon i {
    display: block;
    font-size: 2em;
    margin-top: 10px;
}

.vtimeline-date {
    width: 260px;
    text-align: right;
    position: absolute;
    left: 0;
    top: 10px;
    font-weight: var(--font-weight-light);
    color: var(--primary-color);
}

/*
========================================
Education
========================================
*/

#education {
    padding: 50px 15px 20px 15px; /* Consider a variable for section padding */
    border-bottom: 1px solid var(--secondary-color);
    text-align: center;
    background: var(--background-light);
}

#education h2 {
    color: var(--primary-color);
    margin-bottom: 50px;
}

.education-block {
    max-width: 700px;
    margin: 0 auto 30px auto;
    padding: 15px;
    border: 1px solid var(--secondary-color);
    text-align: left;
}

.education-block h3 {
    font-weight: var(--font-weight-normal);
    float: left;
    margin: 0;
    color: var(--primary-color);
}

.education-block span {
    color: var(--text-color-dark);
    float: right;
}

.education-block h4 {
    color: var(--text-color-dark);
    clear: both;
    font-weight: var(--font-weight-normal);
    margin: 0 0 15px 0;
}

.education-block p,
.education-block ul {
    margin: 0;
    color: var(--text-color-dark);
    font-size: var(--font-size-small);
}

.education-block ul {
    padding: 0 0 0 15px;
}

/*
========================================
Projects
========================================
*/

#projects {
    padding: 50px 15px;
    border-bottom: 1px solid var(--secondary-color);
    background: var(--background-dark);
    text-align: center;
}

#projects h2 {
    color: var(--primary-color);
    margin-bottom: 50px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 20px;
}

.project {
    position: relative;
    overflow: hidden;
    background: var(--background-light);
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(var(--primary-color-rgb), 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(var(--primary-color-rgb), 0.2);
}

.project-image {
    float: left;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.project-info {
    padding: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 200px);
}

.project-info h3 {
    font-size: 1.5em; /* Consider a variable like var(--font-size-h3) */
    font-weight: var(--font-weight-light);
    color: var(--primary-color);
    margin: 0 0 15px 0;
}

.project-info p {
    color: var(--text-color-dark);
    margin: 0 0 15px 0; /* Consider a variable for margin-bottom on paragraphs */
    font-size: var(--font-size-small);
}

.project-info a {
    display: inline-block;
    padding: 10px 15px;
    background-color: var(--primary-color);
    color: var(--text-color-light);
    text-decoration: none;
    text-align: center;
    margin-top: auto;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    font-size: var(--font-size-small);
}

.project-info a:hover {
    background-color: var(--background-light);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.project.gallery {
    width: 100%;
}

.project.gallery .project-info{
    margin: 0;
    padding: 15px;
    height: auto;
}

.project.gallery .gallery-item {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    margin-top: 10px;
}

.project.gallery .gallery-item img {
    width: 100%;
    border-radius: 4px;
    aspect-ratio: 1;
    object-fit: cover;
}

.project.gallery .gallery-item p{
    font-size: var(--font-size-xsmall);
    color: var(--text-color-dark);
    text-align: center;
}

@media (max-width: 768px) {
    .project-image {
        height: 150px;
    }
    .project-info {
        padding: 10px;
        height: auto;
    }
    .project-info h3{
        font-size: 1em;
    }
}

.no-image .project-info {
    position: relative;
    margin: 0;
    padding: 30px 15px;
    transform: none;
}

#more-projects {
    display: none;
}

/*
========================================
Affiliations
========================================
*/

#affiliations {
    padding: 50px 15px;
    text-align: center;
    border-bottom: 1px solid var(--secondary-color);
    background: var(--background-light);
}

#affiliations h2 {
    color: var(--primary-color);
    margin-bottom: 50px;
}

.affiliation-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    max-width: 1000px;
    margin: 0 auto;
}

.affiliation-item {
    background: var(--text-color-dark);
    border-radius: 4px;
    width: 250px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.affiliation-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.affiliation-item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-decoration: none;
    color: var(--text-color-light);
    height: 100%;
    font-weight: var(--font-weight-normal);
    font-size: 1.2em;
}

.affiliation-item img {
    height: 80px;
    margin-bottom: 15px;
    max-width: 100%;
    object-fit: contain;
}

/*
========================================
Skills
========================================
*/

#skills {
    padding: 50px 15px;
    text-align: center;
    background: var(--background-dark);
}

#skills h2 {
    color: var(--primary-color);
    margin-bottom: 50px;
}

#skills ul {
    display: block;
    margin: 0 auto;
    padding: 0; /* Consider a variable for padding on skills list */
    max-width: 800px;
}

#skills li {
    display: inline-block;
    margin: 7px;
    padding: 5px 10px;
    color: var(--primary-color);
    background: var(--background-light);
    list-style: none;
    cursor: default;
    font-size: 1.2em;
}

/*
========================================
Contact
========================================
*/

#contact {
    padding: 50px 15px;
    background: var(--primary-color);
    text-align: center;
}

#contact h2 {
    margin: 0 0 15px 0; /* Consider a variable for margin-bottom on headings */
    color: var(--text-color-light);
    font-weight: var(--font-weight-normal);
}

#contact p  {
    color: var(--text-color-light);
    margin: 0 0 15px 0; /* Consider a variable for margin-bottom on paragraphs */
    font-size: var(--font-size-small);
}

#contact a {
    color: var(--text-color-light);
    margin: 0 0 15px 0; /* Consider a variable for margin-bottom on links */
    font-size: var(--font-size-small);
}

/*
========================================
Optional Section
========================================
*/

.optional-section {
    padding: 50px 15px;
    text-align: center; /* Consider a variable for section padding */
    border-top: 1px solid var(--secondary-color);
}

.optional-section h2 {
    color: var(--primary-color);
}

.optional-section-block {
    max-width: 700px;
    margin: 0 auto 30px auto;
    padding: 15px;
    border: 1px solid var(--secondary-color);
    background: var(--background-light);
    text-align: left;
}

.optional-section-block h3 {
    font-weight: var(--font-weight-normal);
    margin: 0 0 15px 0; /* Consider a variable for margin-bottom on headings */
    color: var(--primary-color);
}

.optional-section-block h4 {
    color: var(--text-color-dark);
    clear: both;
    font-weight: var(--font-weight-normal);
    margin: 0 0 15px 0; /* Consider a variable for margin-bottom on headings */
}

.optional-section-block p,
.optional-section-block ul {
    margin: 0 0 15px 0; /* Consider a variable for margin-bottom on paragraphs */
    color: var(--text-color-dark);
    font-size: var(--font-size-small);
}

.optional-section-block ul {
    padding: 0 0 0 15px;
}

/*
========================================
Footer
========================================
*/

footer {
    padding: 50px 0;
}

.copyright {
    padding-top: 20px;
}

.copyright p {
    margin: 0; /* Consider a variable for margin-bottom on paragraphs */
    color: var(--text-color-dark);
}

.top {
    text-align: center;
}

.top span {
    cursor: pointer;
    display: block;
    margin: 15px auto 0 auto;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid var(--border-color);
    text-align: center;
}

.top i {
    color: var(--text-color-dark);
}

.social {
    text-align: right;
}

.social ul {
    margin: 5px 0 0 0; /* Consider a variable for margin-top on social icons */
    padding: 0; /* Consider a variable for padding on social icons */
}

.social li {
    display: inline-block;
    font-size: 1.25em;
    list-style: none;
}

.social .social-label {
    display: none;
    font-size: 0.7em;
    vertical-align: middle;
    margin-left: 5px;
}

.social a:hover .social-label {
    display: inline;
    color: var(--text-color-dark);
}

@media only screen and (max-width: 750px) {
    #experience-timeline:before,
    #experience-timeline:after {
        left: 23px;
    }

    .vtimeline-date {
        width: auto;
        text-align: left;
        position: relative;
        margin-bottom: 15px;
        display: block;
        margin-left: 70px;
    }

    .vtimeline-icon {
        margin-left: 0;
    }

    .vtimeline-content {
        margin-left: 70px;
    }
}

@media only screen and (max-width: 992px) {
    #lead {
        height: auto;
        min-height: auto;
        max-height: auto;
        padding: 100px 15px;
    }

    #lead-content {
        position: relative;
        transform: none;
        left: auto;
        top: auto;
    }

    #lead-content h1 {
        font-size: 3em;
    }

    #lead-content h2 {
        font-size: 1.75em;
    }

    #about {
        text-align: center;
    }

    #about p {
        text-align: left;
    }
}

@media only screen and (max-width: 768px) {
    header {
        position: fixed;
        display: none;
        z-index: 999;
        animation: none;
        bottom: 0;
        height: 100%;
    }

    #mobile-menu-open,
    #mobile-menu-close {
        display: block;
    }

    #menu {
        height: 100%;
        overflow-y: auto;
        box-shadow: none;
        border-radius: 0;
        width: 100%;
    }

    #menu li {
        display: block;
        margin-bottom: 10px;
    }

    #lead-content h1 {
        font-size: 2em;
    }

    #lead-content h2 {
        font-size: 1.3em;
    }

    #lead-content a {
        padding: 10px 20px;
    }

    #lead-down {
        display: none;
    }

    .education-block h3,
    .education-block span {
        float: none;
    }

    .project-image {
        display: none;
    }

    .project-info {
        position: relative;
        margin: 0;
        padding: 30px 15px;
        top: auto;
        transform: none;
    }

    footer {
        text-align: center;
    }

    .social {
        text-align: center;
    }
}

@media only screen and (max-width: 480px) {
    #lead-content h1 {
        font-size: 1.5em;
    }

    #lead-content h2 {
        font-size: 1em;
    }

    #lead-content a {
        font-size: 0.9em;
        padding: 5px 10px;
    }
}
